.clouds.inverse {
  opacity: 0.4;
  z-index: 99;
  position: relative;
  -webkit-transform: scale(-1);
  transform: scaleY(-1);
}

.clouds.inverse .cloud {
  pointer-events: none;
  top: 0;
  top: -100vh;
}

.clouds.inverse.hide {
  display: none;
}

.clouds .cloud {
  height: 50vh;
  width: 8000px;
  left: -2000px;
  position: absolute; 
}

.clouds #cloud-1 {
  background: url("../images/clouds1.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  animation: slide 150s linear infinite;
  -webkit-animation: slide 150s linear infinite;
  z-index: 3;
}

.clouds #cloud-2 {
  background: url("../images/clouds2.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  animation: slide 400s linear infinite;
  -webkit-animation: slide 400s linear infinite;
  z-index: 2;
}

.clouds #cloud-3 {
  background: url("../images/clouds3.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  animation: slide 600s linear infinite;
  -webkit-animation: slide 600s linear infinite;
  background-color: #90EE90;
  margin-top: -1px;
  z-index: 1;
}

@keyframes slide {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(1920px); } 
  }