@font-face {
  font-family: Matrix;
  src: url("../matrixcomponent/fonts/matrix-code.eot?#iefix") format("embedded-opentype"),
  url("../matrixcomponent/fonts/matrix-code.woff") format("woff"),
  url("../matrixcomponent/fonts/matrix-code.ttf") format("truetype"),
  url("../matrixcomponent/fonts/matrix-code.svg#svgFontName") format("svg");
}


.matrix {
  background-color: #010101;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.matrix > * {
  font-family: Matrix !important;
}

