.pane {
  position: absolute;
  cursor: pointer;
  -ms-transform: -ms-transform .3s;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.pane .header {
  font-size: 25pt;
  letter-spacing: .2em;
  position: absolute;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity .1s, left .15s, right .3s; 
}

.pane.p1 {
  background: #1894b8;
  background-image: -moz-linear-gradient(72deg, #1789aa 0%, #189eae 100%);
  background-image: -webkit-linear-gradient(72deg, #1789aa 0%, #189eae 100%);
  background-image: -ms-linear-gradient(72deg, #1789aa 0%, #189eae 100%);
  position: absolute;
  z-index: 16;
  -webkit-transform: translateX(42%);
  transform: translateX(42%);
  top: 0;
  width: 100%;
  height: 42vh;
  transition: opacity .1s, transform .3s, right .3s;
  -webkit-transition: opacity .1s, -webkit-transform .3s, right .3s; 
}

.pane.p1 .header {
  color: #A9EDFF;
  left: 35px;
  bottom: 25px; 
}

.pane.p1.shutter {
  -ms-transform: translate(0, -100%);
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%); 
}

.pane.p1.extend {
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); 
}

.pane.p1.retract {
  -ms-transform: translate(42%, -100%);
  -webkit-transform: translate(42%, -100%);
  transform: translate(42%, -100%); 
}

.pane.p2 {
  background: #0e566b;
  background-image: -moz-linear-gradient(-48deg, #0e566b 0%, rgba(14, 86, 107, 0.78) 43%, rgba(17, 124, 137, 0.4902) 100%);
  background-image: -webkit-linear-gradient(-48deg, #0e566b 0%, rgba(14, 86, 107, 0.78) 43%, rgba(17, 124, 137, 0.4902) 100%);
  background-image: -ms-linear-gradient(-48deg, #0e566b 0%, rgba(14, 86, 107, 0.78) 43%, rgba(17, 124, 137, 0.4902) 100%);
  z-index: 15;
  right: 0;
  bottom: 0;
  width: 42%;
  height: 100%; 
}

.pane.p2 .header {
  color: #49B9C0;
  top: 47%;
  left: 30px; 
}

.pane.p2.shutter {
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%); 
}

.pane.p3 {
  pointer-events: all;
  background: #20c2f1;
  background-image: -moz-linear-gradient(75deg, #20aaf1 0%, #20c2f1 56%, #7fe1fd 100%);
  background-image: -webkit-linear-gradient(75deg, #20aaf1 0%, #20c2f1 56%, #7fe1fd 100%);
  background-image: -ms-linear-gradient(75deg, #20aaf1 0%, #20c2f1 56%, #7fe1fd 100%);
  z-index: 13;
  bottom: -20%;
  width: 100%;
  -webkit-transform: translateX(-42%);
  transform: translateX(-42%);
  height: 62vh;
  transition: opacity .1s, transform .3s, right .3s;
  -webkit-transition: opacity .1s, -webkit-transform .3s, right .3s; 
}

.pane.p3 .header {
  color: #1778AE;
  top: 25px;
  right: 35px;
  opacity: 1; 
}

.pane.p3.extend .header {
  left: auto; 
}

.pane.p3.extend {
  -webkit-transform: translateX(0);
  transform: translateX(0); 
}

.pane.p3.start .header {
  opacity: 0; 
}

.pane.p3.shutter {
  -ms-transform: translate(-42%, 100%);
  -webkit-transform: translate(-42%, 100%);
  transform: translate(-42%, 100%); 
}

.pane.p3.start {
  cursor: default;
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%); 
}

.pane.p4 {
  background: #b1e1ee;
  background-image: -moz-linear-gradient(138deg, #a2dbea 0%, #d2fdff 71%);
  background-image: -webkit-linear-gradient(138deg, #a2dbea 0%, #d2fdff 71%);
  background-image: -ms-linear-gradient(138deg, #a2dbea 0%, #d2fdff 71%);
  z-index: 12;
  left: 0;
  top: 0;
  width: 42%;
  height: 100%; 
}

.pane.p4 .header {
  color: #208DAC;
  right: 35px;
  top: 47%; 
}

.pane.p4.shutter {
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); 
}

.clear .header {
  opacity: 0 !important; 
}

@media only screen and (max-width: 70em), screen and (max-height: 55em) {
  .pane .header {
    font-size: 20pt; 
  }
}

@media only screen and (max-width: 50em) {
  .pane .header {
    font-size: 16pt; 
  }
}

@media only screen and (max-width: 32em) {
  .pane .header {
    font-size: 11pt; 
  }

  .pane.p1 .header {
    left: 10px;
  }
  .pane.p2 .header {
    left: 10px;
    top: 49%;
  }
  .pane.p3 .header {
    right: 10px;
  }
  .pane.p4 .header {
    right: 10px;
    top: 49%;
  }
}