section.stack {
  width: 42%;
  right: 0;
  height: 100%;
  position: absolute; }
section.stack .container {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 80%;
  margin: auto auto;
  left: 0;
  right: 0;
  width: 80%; 
  z-index: 16;
  animation: slideInRight .75s ease;
  display: grid;
  grid-template-columns: 1fr;
}

section.stack .container.hide {
  display: none;
}

section.stack .container .bar {
  /* height: 3.5em; */
  background-color: #00A1A7;
}

section.stack .container .bar .inner {
  background-color: #04C2C9;
  width: 65%;
  margin: 0 auto;
  height: 100%;
  /* line-height: 3em; */
  color: #ffffff;
}

@media only screen and (max-width: 30em) {
  section.stack .container .bar .inner {
    font-size: .5em;
    /* line-height: 5em; */
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

